<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forif.park.delion" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/deli"
        android:label="Delion"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAOnA2rahy4bO3mBWemKvegOqwyxtN9mQw" />

        <activity android:name=".Tab_Bar_Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity android:name="com.forif.park.delion.FirstIntro">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


        </activity>
        <activity android:name="com.forif.park.delion.Search_Result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.forif.park.delion.More_intro_app"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name="com.forif.park.delion.More_intro_dev"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Inquire_Main"
            android:theme="@style/AppTheme.dd">

        </activity>
        <activity android:name="com.forif.park.delion.Store_Main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.forif.park.delion.Menu_Main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.forif.park.delion.Convenient_Store_Main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.forif.park.delion.Convenient_Store_Detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".More_Main"></activity>

    </application>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

</manifest>
